---
import { MENU } from 'config'
import ThemeToggle from './themeToggle.astro'
---

<header class="font-fangyuan max-w-screen-lg h-14 mt-5 px-6 mx-auto items-center flex justify-between gap-5">
    <div class="flex-1"></div>
    <nav class="flex justify-end md:justify-center">
        <ul class="flex gap-12 rd-full px-10 py-4 text-xl bg-header ">
            <li>
                <a href="/" class="color-band">EMO</a>
            </li>
            {MENU.map(item => (
                <li>
                    <a href={item.url} class="color-header">{item.name}</a>
                </li>
            ))}
        </ul>
    </nav>
    <div class="flex flex-1 md:justify-end">
        <div class="flex items-center bg-header px-10 py-4 rd-full max-md:hidden text-xl">
            <ThemeToggle />
        </div>
    </div>
</header>
