---

---

<div class="w-full font-fangyuan tracking-wider lh-relaxed">
    <div class="flex gap-5 items-center mb-10">
        <div id="img" class="w-40 h-40 md:w-20 md:h-20 bg-gray">
        </div>
        <div class="flex flex-col gap-2">
            <h1 class="text-xl font-600">Chen Emo</h1>
            <div class="flex flex-col md:flex-row md:gap-1 md:gap-2">
                <span>菜鸟开发者</span>
                <span class="max-md:hidden">/</span>
                <span>新兴科技爱好者</span>
                <span class="max-md:hidden">/</span>
                <span>不折腾不舒服斯基</span>
            </div>
            <div>
                <a href="https://github.com/chenemox" aria-label="github">
                    <div class="i-tabler:brand-github"></div>
                </a>
                <a href="/rss.xml" aria-label="rss">
                    <div class="i-tabler:rss"></div>
                </a>
            </div>
        </div>
    </div>
</div>