---

---

<div class="w-full font-fangyuan tracking-wider lh-relaxed">
    <div class="flex gap-5 items-center mb-10">
        <div class="w-20 h-20 bg-gray">

        </div>
        <div class="flex flex-col gap-2">
            <h1 class="text-xl font-600">Chen Emo</h1>
            <div class="flex gap-2">
                <span>菜鸟开发者</span>
                <span>/</span>
                <span>新兴科技爱好者</span>
                <span>/</span>
                <span>不折腾不舒服斯基</span>
            </div>
            <div>
                <a href="https://github.com/chenemox" title="github">
                    <div class="i-tabler:brand-github"></div>
                </a>
                <a href="/rss.xml" title="rss">
                    <div class="i-tabler:rss"></div>
                </a>
            </div>
        </div>
    </div>
    <div>
        <p class="mb-2">你好，我是<span class="font-600">陈一默</span>，一名算法工程师，目前从事于计算机视觉相关行业。</p>
        <p class="mb-2">虽然我的本职工作是算法，但我实际上对各种技术、科技相关的东西都非常感兴趣，因此本站涉及的内容可能会比较广泛，例如前后端开发、新技术尝试、AI大模型、数码科技产品体验等等的内容。</p>
        <p>希望这次能够坚持写文章，感兴趣的朋友可以收藏关注一波~。</p>
    </div>
</div>